<div class="my-8 flex">
  <div class="my-auto mx-auto max-w-lg w-full">
    <div class="rounded-xl bg-card text-card-foreground shadow border-0 sm:border">
      <div class="flex flex-col space-y-1.5 p-6 text-center sm:text-start">
        <img src="<%= store.theme.logo %>" class="w-11 h-11 rounded-sm object-cover" alt="<%= store.settings.title %>" />
        <h3 class="font-semibold tracking-tight text-lg md:text-xl">Fazer login</h3>
        <p class="text-sm text-muted-foreground">Você precisa realizar o login para continuar e acessar sua loja.</p>
      </div>
      <div class="p-6 pt-0">
        <div class="relative flex items-center justify-center !my-6">
          <div class="shrink-0 bg-border h-[1px] w-full"></div>
          <span class="text-sm absolute bg-card px-2">OU</span>
        </div>
        <div class="grid grid-cols-2 gap-3 w-full">
          <a href="" class="inline-flex items-center gap-2 justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-background shadow-sm hover:bg-secondary hover:text-secondary-foreground h-11 p-0 group"></a>
          <a href="" class="inline-flex items-center gap-2 justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-background shadow-sm hover:bg-secondary hover:text-secondary-foreground h-11 p-0 group"></a>
        </div>
      </div>
      <div class="flex items-center p-6 pt-0 sm:border-t sm:py-3">
        <div class="text-xs sm:text-sm text-green-400 flex gap-1 mx-auto">
          <i data-lucide="shield-check" class="w-4 h-4 sm:w-5 sm:h-5"></i>
          <span class="flex-1">Seus dados estão protegidos com tecnologia SSL de ponta.</span>
        </div>
      </div>
    </div>
  </div>
</div>